redis {
    parameters {
        server = "redis"
        redis_type = "single"
        pool_size = 8
        password = "public"
        database = 0
    },
    resource_opts {
        health_check_interval = "15s"
        start_timeout = "5s"
    },
    ssl {
        enable = false
        verify = "verify_peer"
    }
}




